/* FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}
/* UTILITY */
.container-80 {
    max-width: 80%;
    margin: 0 auto;
    
}

/* COMPONENTS HEADER  */
header {
    padding-block: 1rem;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
}



nav ul li a {
    color: #2B2B2B;
    padding-block: 3.3rem;
    font-weight: 600 ;

}
nav ul li a:hover {
    color: #0D7CEC;
    border-bottom: 4px solid #0D7CEC;
    
}

/* COMPONENTS MAIN  */

main {
    background-color: #1C1C1C;
    padding-block: 2rem;
    color: #fff;
}

/* COMPONENTS FOOTER  */

.footer-top{
    background-image: url(../src/assets/img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container-menu  {
    display: flex;
    justify-content: space-between;
    

}

.menu-links {
    margin-top: 2rem;
    flex-basis: 45%;
    display: flex;
    line-height: 160%;

}


.menu-links div {
    margin-right: 2rem;
}

.menu-links h3 {
    margin-block: 1rem;
    color: #fff;
}

.menu-links a {
    color: gray;
}
.menu-links a:hover {
    color: #fff;
}

.logo-pattern {
    background-image: url(../src/assets/img/dc-logo-bg.png);
   background-repeat: no-repeat;
   background-position: -2px;;
    height: 390px;
    width: 600px;
}

.footer-bottom {
    background-color: #1C1C1C;
    
}
.container-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
}
.btn-singUp {
    padding: 10px 15px;
    border: 3px solid #0D7CEC;
    
}

.btn-singUp a  {
    color: #fff;
}
.container-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-icon span {
    color: #0D7CEC;
    font-weight: bold ;
    font-size: 1.3rem;
    margin-right: 1rem ;
}
