/* FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

/* UTILITY */
.container-80 {
    max-width: 80%;
    margin: 0 auto;

}

#hamburgerMenu {
    display: none;
}



/* COMPONENTS HEADER  */
header {
    background-color: #fff;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

nav img {
    width: 70px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;

}

nav ul li {
    line-height: 100px;
}

nav ul li.active {
    border-bottom: 3px solid #0582F9;
}

nav ul li a.active {
    color: #0582F9;
}

nav ul li a:hover {
    color: #0582F9;

}

nav ul li:hover {
    border-bottom: 3px solid #0582F9;

}

nav ul li a {
    color: #2B2B2B;
}


/* COMPONENTS MAIN  */

/* COMPONENTS SECTIONJUMBO  */
#bg-jumbotron {
    background-image: url('../src/assets/img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
}

/* COMPONENTS SECTIONCOMICS  */
#sectionComics {
    background-color: #1C1C1C;
    color: #fff;

}

#sectionComics .container-80 {
    position: relative;
}

#sectionComics .label {
    position: absolute;
    top: -28px;
    left: 0;
    z-index: 5;

    background-color: #0582F9;
    padding: 10px 25px;
    text-transform: uppercase;

}



#comicsList {
    padding-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


}

#comicsList .comicCard {
    flex-basis: calc(100% / 6 - 20px);
}

.comicCard img {
    width: 100%;
    aspect-ratio: 1;
}

.comicCard span {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
}

#comicsList button {
    width: 15%;
    margin: 0 auto;
    padding: 15px 10px;
    border: none;
    background-color: #0582F9;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}




/* COMPONENTS SECTIONBUY  */
#comicsIcon {
    background-color: #0582F9;
    color: #fff;
    padding-block: 2rem;
    text-transform: uppercase;
    font-weight: 600;

}

#comicsIcon ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#comicsIcon ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

#comicsIcon img {
    aspect-ratio: 1;
    width: 50px;

}

/* COMPONENTS FOOTER  */


#topFooter {
    background-image: url('../src/assets/img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

#topFooter .bg-logo {
    background-image: url('../src/assets/img/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: right;

}

#topFooter .container-80 {
    display: flex;
    gap: 20px;
    padding-block: 2rem;
}

#topFooter h3 {
    color: #fff;
    text-transform: uppercase;
    margin-block: 0.8rem;
}

#topFooter a {
    color: gray;
    line-height: 160%;
}

#topFooter li {
    cursor: pointer;

}

#topFooter li:hover a {
    color: #fff;

}


#bottomFooter {
    background-color: #1C1C1C;
}

#bottomFooter .container-80 {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottomFooter button {
    text-transform: uppercase;
    padding: 15px 20px;
    background: none;
    color: #fff;
    font-size: 1rem;
    border: none;
}

#bottomFooter button.active {
    border: 2px solid #0582F9;
}


.footerIcon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerIcon span {
    text-transform: uppercase;
    font-weight: 700;
    color: #0582F9;
    font-size: 1.4rem;
}

.footerIcon ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerIcon img {
    width: 24px;
}

/* RESPONSIVE DESIGN DESKTOP FIRST */
@media (max-width: 1024px) {

    .container-80 {
        max-width: 90%;
        margin: 0 auto;

    }

    header {
        padding-block: 0.5rem;


    }

    #navMenu {
        display: none;
    }

    #hamburgerMenu {
        display: inline-block;
        font-size: 34px;
    }

    #comicsIcon ul {

        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;


    }

    #comicsIcon ul li {
        margin: 20px 0;
        flex-basis: calc(100% / 2 - 40px);
        flex-direction: column;
        gap: 20px;
    }

    #comicsIcon img {
        aspect-ratio: 1;
        width: 80px;

    }

    #topFooter .bg-logo {
        background-size: contain;
        background-position: center;

    }

    #topFooter .container-80 {
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    #topFooter .container-80 div {
        flex-basis: calc(100% / 2 - 10px);

    }

    #bottomFooter .container-80 {
        padding-block: 1rem;

    }

    .footerIcon {
        flex-direction: column;
        gap: 5px;
    }

    .footerIcon span {
        font-size: 1rem;
    }





}